
/* ------------ FORM STYLING -------------- */

.form {
    margin: 50px;
    text-align: center;
}

.field {
    display: inline-block;
    padding-bottom: 30px;
}

.answer {
    text-align: left;
    font-size: 20px;
}

.search {
    width: 300px;
    font-size: 20px;
    padding: 2px;
}

.submit {
    font-size: 20px;
}

.question_btn{
    text-align: left;
    background-color: white!important;
    border:none !important;

}

.row{
    padding:10px 0px 10px 0px !important;
    width:99%;
}

.machine-message{
    width: 60%;/*20%;*/
    margin-left:3%;
    padding: 2%;
    background-color: gray;
}
.machine-message1{
    width: 60%;/*20%;*/
    margin-left:3%;
    padding: 2%;
    background-color: gray;
}

.user-message{
    width: 60%;
    margin-left: 79%;
    padding: 2%;
    background-color: lightgray;
}
.conversation-wrapper{
    height:600px!important;
    overflow-y:scroll;
    overflow-x:hidden;

}

.input-wrapper{
    position:absolute;
    /* bottom:50px; */
    height:50px!important;
    
}

.message-form{
    margin:30px 0px 10px 70vw;
}

/* -------------- GENERAL STYLING ---------------- */

body {
}

html {
    font-family: 'Source Sans Pro', Calibri, Arial, sans-serif;
    font-size: 13pt;
}

h2 {
    color: hsl(250.3, 31.4%, 40%);
    display: block;
    font-weight: normal;
    padding: 0.75rem 0 0.5rem;
    width: 100%;
    font-size:20px;
}

ul.bulleted {
    list-style-type: disc;
    padding-left: 1rem;
}

li {
    text-align: -webkit-match-parent;
}

p {
    display: block;
}

