.form {
    margin: 50px;
    text-align: center;
}

.field {
    display: inline-block;
    padding-bottom: 30px;
}

.answer {
    text-align: left;
    font-size: 20px;
}

.search {
    width: 300px;
    font-size: 20px;
    padding: 2px;
}

.submit {
    font-size: 20px;
}