<!doctype html>
<title>ChatFAQs</title>
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
<div class="page">
    <form method="POST" action="" class="form">
        {{ form.hidden_tag() }}
        {% for field in form %}
        <div class="field">
            {% if field.errors %}
                {% for error in field.errors %}
                    <div class="notification error">{{ error }}</div>
                {% endfor %}
            {% endif %}
            {{ field(placeholder=field.label.text, class_="search") }}
        </div>
        {% endfor %}
        <button type="submit" class="submit">Submit</button>
        <div id="item" class="answer">
            {% for sim, question, answer in similar_qs %}
                <div>{{ question | safe }}</div>
                <div>
                    {% for line in answer %}
                    <div>{{ line | safe }}</div>
                    {% endfor %}
                </div>
                {{ sim }}
                <hr>
            {% endfor %}
        </div>
    </form>
</div>