<form method="POST" action="" class="form">
    {{ form.hidden_tag() }}
    {% for field in form %}
        <div class="field">
            {% if field.errors %}
                {% for error in field.errors %}
                    <div class="notification error">{{ error }}</div>
                {% endfor %}
            {% endif %}
            {{ field(placeholder=field.label.text) }}
        </div>
    {% endfor %}
    <button type="submit" id="submit">Submit</button>
    <div id="item" class="answer" style="display: none;">
        {% for line in answer %}
            <div>{{ line }}</div>
        {% endfor %}}
    </div>
</form>